<!-- Listar Contenido Sobre Nosotros -->
<div class="" *ngFor="let service of servicesList">
    <!-- *** Historia ***   -->
    <div class="bloque-1 row justify-content-center align-content-center py-3" id="bloque" *ngIf="service.category == 'historia'">
        <div class="col-md-7">
            <h3 class="text-center display-4">{{service.title}}</h3>
            <p class="text-justify ">{{service.large_desc}}</p>
        </div>
        <div class="col-md-3"><img class="card-img" src="{{service.img}}" alt="{{service.title}}"></div>
    </div>
    <!-- *** Mision *** -->
    <div class="bloque-1 row justify-content-center align-content-center py-3" id="" *ngIf="service.category == 'mision'">
        <div class="col-md-3"><img class="card-img" src="{{service.img}}" alt="{{service.title}}"></div>
        <div class="col-md-7">
            <h3 class="text-center display-4">{{service.title}}</h3>
            <p class="text-justify ">{{service.large_desc}}</p>
        </div>
    </div>
    <!-- *** Vision *** -->
    <div class="bloque-1 row justify-content-center align-content-center py-3" id="bloque" *ngIf="service.category == 'vision'">
        <div class="col-md-7">
            <h3 class="text-center display-4">{{service.title}}</h3>
            <p class="text-justify ">{{service.large_desc}}</p>
        </div>
        <div class="col-md-3"><img class="card-img" src="{{service.img}}" alt="{{service.title}}"></div>
    </div>
    <!-- *** Objetivos *** -->
    <div class="bloque-1 row justify-content-center align-content-center py-3" id="" *ngIf="service.category == 'objetivos'">
        <div class="col-md-3"><img class="card-img" src="{{service.img}}" alt="{{service.title}}"></div>
        <div class="col-md-7">
            <h3 class="text-center display-4">{{service.title}}</h3>
            <p class="text-justify ">{{service.large_desc}}</p>
        </div>
    </div>
    <!-- *** Valores *** -->
    <div class="bloque-1 row justify-content-center align-content-center py-3" id="bloque" *ngIf="service.category == 'valores'">
        <div class="col-md-7">
            <h3 class="text-center display-4">{{service.title}}</h3>
            <p class="text-justify ">{{service.large_desc}}</p>
        </div>
        <div class="col-md-3"><img class="card-img" src="{{service.img}}" alt="{{service.title}}"></div>
    </div>
</div>