<div class="row justify-content-center my-3 col-md-12">
    <a class="btn btn-primary m-1" data-toggle="collapse" href="#services" role="button" aria-expanded="false" aria-controls="services">
        Servicios
      </a>
    <a class="btn btn-primary m-1" data-toggle="collapse" href="#users" role="button" aria-expanded="false" aria-controls="users">
        Usuarios
      </a>


    <app-services class="col-md-12 my-3 collapse" id="services"></app-services>
    <app-users class="col-md-12 my-3 collapse" id="users"></app-users>

</div>