<div class="card">
    <div class="card-title">
        <h4>Crear / Editar Servicio</h4>
    </div>
    <div class="card-body">
        <form #serviceForm="ngForm" (ngSubmit)="onSubmit(serviceForm)">
            <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="dataService.selectedService.$key">
            <div class="form-group">
                <label for="title">Titulo</label>
                <input type="text" class="form-control" name="title" #title="ngModel" [(ngModel)]="dataService.selectedService.title" aria-describedby="titleHelp" maxlength="25">
                <small id="titleHelp" class="form-text text-muted">Ingresar un titulo o nombre al servicio.</small>
            </div>
            <div class="form-group">
                <label for="img">Imagen</label>
                <input type="text" class="form-control" name="img" #img="ngModel" [(ngModel)]="dataService.selectedService.img" aria-describedby="imgHelp">
                <small id="imgHelp" class="form-text text-muted">Imagen asociada al servicio.</small>
            </div>
            <div class="form-group">
                <label for="category">Categoria</label>
                <input type="text" class="form-control" name="category" #category="ngModel" [(ngModel)]="dataService.selectedService.category" aria-describedby="categoryHelp">
                <small id="categoryHelp" class="form-text text-muted">Categoria a la que pertenece el servicio.</small>
            </div>
            <div class="form-group">
                <label for="small_desc">Descripcion Corta</label>
                <input type="text" class="form-control" name="small_desc" #small_desc="ngModel" [(ngModel)]="dataService.selectedService.small_desc" aria-describedby="small_descHelp" maxlength="100">
                <small id="small_descHelp" class="form-text text-muted">Descripción corta del servicio.</small>
            </div>
            <div class="form-group">
                <label for="large_desc">Descripcion Larga</label>
                <textarea rows="6" class="form-control" name="large_desc" #large_desc="ngModel" [(ngModel)]="dataService.selectedService.large_desc" aria-describedby="large_descHelp" maxlength="500"></textarea>
                <small id="large_descHelp" class="form-text text-muted">Descripción larga del servicio.</small>
            </div>
            <div class="form-group">
                <label for="price">Precio:</label>
                <input type="number" class="form-control" name="price" #price="ngModel" [(ngModel)]="dataService.selectedService.price" aria-describedby="priceHelp">
                <small id="priceHelp" class="form-text text-muted">Precio promedio del servicio.</small>
            </div>
            <div class="form-group text-center my-2">
                <button class="btn btn-primary mx-1" type="reset" (click)="resetForm(serviceForm)">Limpiar
                    <i class="material-icons small">clear_all</i>
                  </button>
                <button class="btn btn-success mx-1" type="submit">Enviar
            <i class="material-icons small">send</i>
          </button>

            </div>
        </form>
    </div>
</div>