<div class="row justify-content-center align-content-center bloque" id="bloque">
    <div class="alert alert-danger col-md-12" *ngIf="authError">
        {{authError?.message}}
    </div>

    <form class="bg-dark text-white rounded p-2" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <div>
            <h3 class="text-center">Iniciar Sesion</h3>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="email">
        </div>
        <div class="form-group">
            <label for="password">contraseña:</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="password">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
        </div>
    </form>
</div>