<table class="table table-hover">
    <thead>
        <th>Titulo</th>
        <th>Categoria</th>
        <th>Imagen</th>
        <th>Desc. Corta</th>
        <th>Desc. Larga</th>
        <th>Precio</th>
        <th>Accion</th>
    </thead>
    <tbody>
        <tr *ngFor="let service of servicesList">
            <td>{{service.title}}</td>
            <td>{{service.category}}</td>
            <td>{{service.img}}</td>
            <td>{{service.small_desc}}</td>
            <td>{{service.large_desc}}</td>
            <td>{{service.price}}</td>
            <td>
                <a class="btn btn-secondary text-white m-1" (click)="onEdit(service)"><i class="material-icons small">update</i></a>
                <a class="btn btn-danger text-white m-1" (click)="onDelete(service.$key)"><i class="material-icons small">delete</i></a>
            </td>
        </tr>
    </tbody>
</table>